{% extends "template.html" %}
{% block body %}
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form method=post action="/login">
            <div class="form-group">
              {{ form.email.label }}
              {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
              {{ form.password.label }}
              {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
              {{ form.confirm.label }}
              {{ form.confirm(class="form-control") }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">S'enregistrer</button>
          </form>
          <h3>Vous n'avez pas encore de compte Projet?</h3>
          <a href="ESSAYER">Commencer une periode d'essaie gratuite de 2 mois</a>
        </div>
      </div>
{% endblock %}
